name: Deploy to AWS Lightsail (Quality)

on:
  push:
    branches: [ "quality---" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Environment Context
        run: |
          echo "DEPLOY_ENV=quality" >> $GITHUB_ENV
          echo "APP_PORT=8002" >> $GITHUB_ENV
          echo "STT_MODEL=base" >> $GITHUB_ENV
          echo "S3_KEY_PREFIX=qa/" >> $GITHUB_ENV
          echo "TTS_MODEL_EN=tts_models/en/ljspeech/vits" >> $GITHUB_ENV
          echo "TTS_MODEL_ES=tts_models/es/css10/vits" >> $GITHUB_ENV
          
          # Secretos
          echo "LIGHTSAIL_HOST=${{ secrets.LIGHTSAIL_HOST }}" >> $GITHUB_ENV
          echo "LIGHTSAIL_USERNAME=${{ secrets.LIGHTSAIL_USERNAME }}" >> $GITHUB_ENV
          echo "LIGHTSAIL_SSH_KEY<<EOF" >> $GITHUB_ENV
          echo "${{ secrets.LIGHTSAIL_SSH_KEY }}" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
          
          echo "API_KEY=${{ secrets.API_KEY }}" >> $GITHUB_ENV
          echo "AWS_ACCESS_KEY_ID=${{ secrets.APP_AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.APP_AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_REGION=${{ secrets.AWS_REGION }}" >> $GITHUB_ENV

      - name: Create .env file from Secrets
        run: |
          echo "DEPLOY_ENV=${{ env.DEPLOY_ENV }}" >> .env
          echo "APP_PORT=${{ env.APP_PORT }}" >> .env
          echo "STT_MODEL=${{ env.STT_MODEL }}" >> .env
          echo "S3_KEY_PREFIX=${{ env.S3_KEY_PREFIX }}" >> .env
          echo "TTS_MODEL_EN=${{ env.TTS_MODEL_EN }}" >> .env
          echo "TTS_MODEL_ES=${{ env.TTS_MODEL_ES }}" >> .env
          echo "API_KEY=${{ env.API_KEY }}" >> .env
          echo "AWS_ACCESS_KEY_ID=${{ env.AWS_ACCESS_KEY_ID }}" >> .env
          echo "AWS_SECRET_ACCESS_KEY=${{ env.AWS_SECRET_ACCESS_KEY }}" >> .env
          echo "AWS_REGION=${{ env.AWS_REGION }}" >> .env

      - name: Copy files to Lightsail via SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ env.LIGHTSAIL_HOST }}
          username: ${{ env.LIGHTSAIL_USERNAME }}
          key: ${{ env.LIGHTSAIL_SSH_KEY }}
          source: "."
          target: "/home/${{ env.LIGHTSAIL_USERNAME }}/speech-service-${{ env.DEPLOY_ENV }}"
          rm: true

      - name: Execute Remote Docker Commands via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ env.LIGHTSAIL_HOST }}
          username: ${{ env.LIGHTSAIL_USERNAME }}
          key: ${{ env.LIGHTSAIL_SSH_KEY }}
          command_timeout: 30m
          script: |
            cd /home/${{ env.LIGHTSAIL_USERNAME }}/speech-service-${{ env.DEPLOY_ENV }}
            sudo docker compose -p speech-service-${{ env.DEPLOY_ENV }} up -d --build --remove-orphans
            sudo docker image prune -f